<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Save more with us!</p>
                <!--<leaflet center="center" width="800" height="900"></leaflet>-->
                <form>
                    List of items: <input type="text" ng-model="user.name" /><br />
                    <button ng-click="update(user)">SAVE</button>
                 </form>
                <pre>form = {{user | json}}</pre>

                <!--<flot dataset="myData" options="myChartOptions"></flot>-->

            </div>
        </div>
            </div>

</section>
